

<div class="container mt-5">
  <h2 style="text-align:center">Head</h2>
  <mat-card>
    <form>
      <table>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Adaptor Id</mat-label>
              <mat-select placeholder="Adaptor Id">
                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Adaptor Name</mat-label>
              <mat-select placeholder="Adaptor Name">
                <mat-option *ngFor="let adaptorData of adaptor" [value]="adaptorData">{{adaptorData}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>



      <table>
        <tr>

          <!-- <td>
            <mat-form-field appearance="outline">
              <mat-label>Template File Name</mat-label>
              <input matInput>
            </mat-form-field>
          </td> -->

          <td>
            <mat-form-field floatPlaceholder="never" appearance="outline">
              <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept="all/*" #fileSelect>
              <input readonly matInput [(ngModel)]="filename" placeholder="Template File upload.." />
              <button *ngIf="this.base64File" (click)="this.base64File = null; this.filename = null" matSuffix
                matTooltip="Remove selected file" [matTooltipPosition]="'above'" type="button" color="warn"
                mat-icon-button>
                <mat-icon>close</mat-icon>
              </button>
              <button matSuffix mat-icon-button (click)="fileSelect.click();" matTooltip="Select a file"
                [matTooltipPosition]="'above'">
                <mat-icon>file_upload</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Rule Id</mat-label>
          <mat-select placeholder="Adaptor Id">
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Rule Number 1
              </mat-panel-title>

            </mat-expansion-panel-header>
            <table>
              <tr>

                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Object</mat-label>
                    <input matInput>
                  </mat-form-field>
                </td>

              </tr>
              <tr>
                <td>
                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                </td>
              </tr>
            </table>
            <br>
            <div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <!-- <ng-container matColumnDef="property">
                  <th mat-header-cell *matHeaderCellDef>Property</th>
                  <td mat-cell *matCellDef="let element"> {{element.property}} </td>
                </ng-container> -->

                <ng-container matColumnDef="property">
                  <th mat-header-cell *matHeaderCellDef>Property</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                      <mat-label>Choose an option</mat-label>
                      <mat-select (selectionChange)="someMethod($event.value,element)">
                        <mat-option *ngFor="let tablDropDown of tablArray" [value]="tablDropDown">
                          {{tablDropDown}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>&nbsp;


                <ng-container matColumnDef="opration">
                  <th mat-header-cell *matHeaderCellDef>Operation</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                      <mat-label>Choose an option</mat-label>
                      <mat-select (selectionChange)="someMethod($event.value,element)">
                        <mat-option *ngFor="let tablDropDown of tablArray" [value]="tablDropDown">
                          {{tablDropDown}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>&nbsp;

                <!-- Name Column
                <ng-container matColumnDef="opration">
                  <th mat-header-cell *matHeaderCellDef> Operation </th>
                  <td mat-cell *matCellDef="let element"> {{element.opration}} </td>
                </ng-container> -->

                <!-- Weight Column -->
                <!-- <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container> -->


                                <!-- Symbol Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-label>Choose an option</mat-label>
        <mat-select (selectionChange)="someMethod($event.value,element)">
          <mat-option *ngFor="let tablDropDown of tablArray" [value]="tablDropDown">
            {{tablDropDown}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>&nbsp;

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>



            <ng-template matExpansionPanelContent>
            </ng-template>
          </mat-expansion-panel>
          <br>
        </mat-accordion>

        <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Rule Number 2
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>


        </mat-accordion>
      </p>

    </form>
  </mat-card>


</div>
